In [3]:
# set the midpoint
midpoint = 5

# make two empty lists
lower = []; upper = []

# split the numbers into lower and upper
for i in range(10):
    if (i < midpoint):
        lower.append(i)
    else:
        upper.append(i)
        
print("lower:", lower)
print("upper:", upper)

lower: [0, 1, 2, 3, 4]
upper: [5, 6, 7, 8, 9]

In [4]:
2 * (3 + 4)

14

In [5]:
print('first value:', 1)

first value: 1

In [ ]:
print('second value:', 2)

In [6]:
L = [4,2,3,1]
L.sort()
print(L)

[1, 2, 3, 4]

In [9]:
x = 1         # x is an integer
x = 'hello'   # now x is a string
x = [1, 2, 3] # now x is a list
x = [1, 2, 3]
y = x

In [11]:
x = [1, 2, 3]
y = x
print(y)
x.append(4) # append 4 to the list pointed to by x
print(y) # y's list is modified as well!

[1, 2, 3]
[1, 2, 3, 4]

In [12]:
x = 10
y = x
x += 5  # add 5 to x's value, and assign it to x
print("x =", x)
print("y =", y)

x = 15
y = 10

In [13]:
L = [1, 2, 3]
L.append(100)
print(L)

[1, 2, 3, 100]

In [15]:
x = 4.5
print(x.real, "+", x.imag, 'i')
x = 4.5
x.is_integer()

4.5 + 0.0 i

False

In [16]:
x = 4.0
x.is_integer()

True

In [17]:
type(x.is_integer)

builtin_function_or_method

In [18]:
# addition, subtraction, multiplication
(4 + 8) * (6.5 - 3)

42.0

In [30]:
# True division
print(11 / 2)

5.5

In [ ]:
# Floor division
print(11 // 2)

In [31]:
bin(10)

'0b1010'

In [ ]:
bin(4)

In [20]:
4 | 10

14

In [21]:
a = 24
print(a)

24

In [22]:
a + 2

26

In [23]:
a += 2  # equivalent to a = a + 2
print(a)

26

In [24]:
# 25 is odd
25 % 2 == 1

True

In [25]:
# check if a is between 15 and 30
a = 25
15 < a < 30

True

In [26]:
-1 == ~0

True

In [27]:
x = 4
(x < 6) and (x > 2)

True

In [29]:
(x > 10) or (x % 2 == 0)

True

In [28]:
# (x > 1) xor (x < 10)
(x > 1) != (x < 10)

False

In [32]:
a = [1, 2, 3]
b = [1, 2, 3]

In [33]:
a == b

True

In [34]:
a is not b

True

In [36]:
1 in [1, 2, 3]

True

In [35]:
2 not in [1, 2, 3]

False

In [37]:
L = [2, 3, 5, 7]

In [38]:
# Length of a list
len(L)

4

In [39]:
# Append a value to the end
L.append(11)
L

[2, 3, 5, 7, 11]

In [40]:
# Addition concatenates lists
L + [13, 17, 19]

[2, 3, 5, 7, 11, 13, 17, 19]

In [ ]:
# sort() method sorts in-place
L = [2, 5, 1, 6, 3, 4]
L.sort()
L

In [41]:
import name of module

SyntaxError: invalid syntax (<ipython-input-41-0d25f86c1400>, line 1)

In [42]:
import math

In [43]:
math.sqrt(25)
math.pi

3.141592653589793

In [44]:
import math as mt

In [45]:
from numpy import random

In [46]:
import numpy as np

In [47]:
# uniform random numbers in [0,1]
dataOne = random.rand(5,5)

In [49]:
dataOne

array([[0.04602984, 0.61893036, 0.51502846, 0.55164974, 0.61967077],
       [0.89354844, 0.12987204, 0.92925505, 0.79448496, 0.38490608],
       [0.27118935, 0.7786654 , 0.5388093 , 0.55749064, 0.64043358],
       [0.35831468, 0.1847855 , 0.98574852, 0.00113524, 0.82496443],
       [0.36141081, 0.6213151 , 0.7660387 , 0.92825091, 0.62792957]])

In [50]:
np.mean(dataOne)

0.5571942993374154

In [52]:
print('I Love data Science')

I Love data Science

In [53]:
variableName = 25

In [54]:
variableName1 = 'I Love data Science'

In [55]:
print(variableName1)

I Love data Science

In [56]:
variableName = 25

In [57]:
varOne = 25
varTwo = 25.0
varThree = varOne + varTwo
print(varThree)

50.0

In [58]:
listName = [ ]

In [60]:
listOne = [1,2,3,4]
print(listOne[1:3])

[2, 3]

In [61]:
tel = {'jack': 4098, 'sape': 4139}

In [62]:
tel['jack']

4098

In [65]:
prices = {'apple': 2, 'bannana': 1,'carrot': .5, 'corvette':65000}
prices['corvette']

65000